# Ignore database file (SQLite)
db.sqlite3

# Ignore virtual environment (if you use one)
env/

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore log files
*.log

# Ignore media uploads (user-generated content)

# Ignore static files (when using a production-ready server for static files)
staticfiles/

# Ignore local development settings and secret keys
*.env
*.pyc
*.pyo
__pycache__/
*.egg-info/
*.egg
*.pip
Pipfile.lock
Pipfile
.env
*.sql

# Ignore database migrations (You may want to commit these in certain cases)
*/migrations/
